<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.icon" type="image/x-icon" />

    <title>Toll Booking | FAQ'S</title>

    <!--=== Bootstrap CSS ===-->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="static/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="static/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="static/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="static/assets/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="static/assets/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="static/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="static/assets/css/responsive.css" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="static/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Alliance University
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +91 9010098903
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="mailto:vprasad1514@gmail.com?subject=Feedback" target="_blank"><i class= "fa fa-envelope"></i></a>
                            <a href="https://www.facebook.com/prasad.babu.520125" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/Prasad1514" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/prasad-babu-vadlamudi-634627192/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=919739644968" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a href="index.html" class="logo">
                            <img src="static/assets/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->

                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index3.html">Home 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>

                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="login.html">LOGOUT</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blogs</a>
                                    <ul>
                                        <li><a href="help-desk.html">HELP DESK</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>FAQ's</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Trust but Verify.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== FAQ Area Start ==-->
    <section id="faq-page-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- FAQ Content Start -->
                <div class="col-lg-8">
                    <div class="faq-details-content">
                        <!-- Single FAQ Subject  Start -->
                        <div class="single-faq-sub">
                            <h3>Payment</h3>
                            <div class="single-faq-sub-content">
                                <div id="accordion">
                                    <!-- Single FAQ Start -->
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0"><button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<span>I don't have a Credit/Debit card. I don't have Net Banking as well. Can I still book a cab?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                Yes, you can. You can call us and book a cab as per your choice over the phone: +91 9010098903.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->

                                    <!-- Single FAQ Start -->
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									  			<span>What all payment options I have online?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
									  		</button></h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>The different payment options are,</p>
                                                <p>1. Credit card</p>
                                                <p>2. Debit card</p>
                                                <p>3. Internet banking (Internet enabled online bank account)</p>
                                                <p>4. Cash-on-delivery</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ Start -->

                                    <!-- Single FAQ End -->
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									  			<span>Is the online payment secure?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                Yes, the online payment done on Cabxyz.com is completely safe and secure. We have tied up with CCAvenue (India's leading online payment gateway) which uses Verisign certified security infrastucture to ensure that your online payment is completely safe.
                                                As a company policy we don't store any card detail.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->

                                    <!-- Single FAQ End -->
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									  			<span>How do I get a refund?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                In case of a no show by the driver/operator, we would require you to get in touch with us at info@Cabxyz.com or call our helpline. You would need to provide your booking id and other relevant details. The entire payment will be refunded back to you in
                                                case there was a no-show by the driver/operator.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->
                                </div>
                            </div>
                        </div>
                        <!-- Single FAQ Subject End -->

                        <!-- Single FAQ Subject  Start -->
                        <div class="single-faq-sub">
                            <h3>Preparation</h3>
                            <div class="single-faq-sub-content">
                                <div id="accordion_2">
                                    <!-- Single FAQ Start -->
                                    <div class="card">
                                        <div class="card-header" id="heading4">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
												<span>How do i Book or Cancel my Bookings?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>

                                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion_2">
                                            <div class="card-body">
                                                You can either book or cancel online or call us at +91 9010098903 to book or cancel over phone.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->

                                    <!-- Single FAQ Start -->
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									  			<span>Can I book a cab from you without paying online?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
									  		</button></h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion_2">
                                            <div class="card-body">
                                                Yes! You can give request and call us and we will book a cab for you on Phone!
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ Start -->

                                    <!-- Single FAQ End -->
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									  			<span>Did I need to register on your site to book tickets?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion_2">
                                            <div class="card-body">
                                                No. You can use our service fully without the need to register. You just need to provide your details at the time of booking.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->

                                    <!-- Single FAQ End -->
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									  			<span>When will I receive the vehicle and driver details?</span>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
											</button></h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion_2">
                                            <div class="card-body">
                                                We will SMS the vehicle number and driver details 2 to 6 hours prior to your departure time. In case you do not receive the same, please call the customer care number +91 9010098903.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single FAQ End -->
                                </div>
                            </div>
                        </div>
                        <!-- Single FAQ Subject End -->
                    </div>
                </div>
                <!-- FAQ Content End -->

                <!-- Sidebar Area Start -->
                <div class="col-lg-4">
                    <div class="sidebar-content-wrap m-t-50">
                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>For More Informations</h3>

                            <div class="sidebar-body">
                                <p><i class="fa fa-mobile"></i> +91 9010098903</p>
                                <p><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</p>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->

                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>Rental Tips</h3>

                            <div class="sidebar-body">
                                <ul class="recent-tips">
                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="static/assets/img/we-do/service1-img.png" alt="JOSFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Our Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="static/assets/img/we-do/service3-img.png" alt="JOSFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="static/assets/img/we-do/service2-img.png" alt="JOSFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>

                                    <li class="single-recent-tips">
                                        <div class="recent-tip-thum">
                                            <a href="#"><img src="static/assets/img/we-do/service3-img.png" alt="JOSFT"></a>
                                        </div>
                                        <div class="recent-tip-body">
                                            <h4><a href="#">How to Enjoy Losses Angeles Car Rentals</a></h4>
                                            <span class="date">February 5, 2018</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->

                        <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>Connect with Us</h3>

                            <div class="sidebar-body">
                                <div class="social-icons text-center">
                                    <a href="mailto:vprasad1514@gmail.com?subject=Feedback" target="_blank"><i class= "fa fa-envelope"></i></a>
                                    <a href="https://www.facebook.com/prasad.babu.520125" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/Prasad1514" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/prasad-babu-vadlamudi-634627192/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://api.whatsapp.com/send?phone=919739644968" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->
                    </div>
                </div>
                <!-- Sidebar Area End -->
            </div>
        </div>
    </section>
    <!--== FAQ Area End ==-->

    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <div class="widget-body">
                                <img src="static/assets/img/logo.png" alt="JSOFT">
                                <p> <strong> We provide  Sanitised Cars &#128567; and Healthy Drivers with Safe Journey  &#128578 </strong> </p>

                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Subscribe Our Newsletter" required>
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Recent Posts</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="https://www.bing.com/search?q=bengaluru+karnataka&cvid=91faebbf892748eba66dc6abee335d94&FORM=ANNTA1&PC=U531" target="_blank">
                                           Hello Bengaluru! 
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                    <li>
                                        <a href="https://www.karnataka.com/bangalore/" target="_blank">
                                          Amazing things to know in Bangalore
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <a colour=#blue><strong><p>we will provide 24/7 service to the customers</p></strong></a>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> Alliance University, Bangalore</li>
                                    <li><i class="fa fa-mobile"></i> +919 01 00 98 903</li>
                                    <li><i class="fa fa-envelope"></i> vprasad1514@gmail.com</li>
                                </ul>
                                <a href="https://www.google.com.bd/maps/place/Alliance+University/@12.7293942,77.70711,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae6e511486348b:0xd89a0e9710f980c7!8m2!3d12.7293942!4d77.7092987?hl=en" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            <!-- Link back to Alliance can't be removed. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved For <strong> TEAM TOLLFEES </strong> | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.alliance.edu.in/" target="_blank">Alliance</a>
                            <!-- Link back to Alliance can't be removed.  -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="static/assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="static/assets/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="static/assets/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="static/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="static/assets/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="static/assets/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="static/assets/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="static/assets/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="static/assets/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="static/assets/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="static/assets/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="static/assets/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="static/assets/js/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="static/assets/js/main.js"></script>

</body>

</html>